
/.idea/

/shoppingmall/target/
/shoppingmall/.idea/

/shoppingmall-backoffice/target/
/shoppingmall-backoffice/.idea/


/shoppingmall-cs/target/
/shoppingmall-cs/.mvn/

/quiz-master/target/
/quiz-master/.mvn/